---
layout: default
title: 프로젝트
---
<h1>{{ page.title }}</h1>
<p>그동안 진행했던 프로젝트의 결과물을 정리해두었습니다.</p>
<hr>
<ul class="post-list">
  {% assign project_categories = "owasp-top-10|security-architecture|penetration-test-scenario|att-ck" | split: "|" %}
  {% assign all_project_posts = "" | split: "," %}
  {% for cat_id in project_categories %}
    {% if site.categories[cat_id] %}
      {% assign all_project_posts = all_project_posts | concat: site.categories[cat_id] %}
    {% endif %}
  {% endfor %}
  {% assign sorted_posts = all_project_posts | sort: 'date' %}
  {% for post in sorted_posts %}
    <li>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
    </li>
  {% endfor %}
</ul>