---
layout: default
---
<!-- [추가] 사이드바가 없는 페이지에서는 content-wrapper로 감싸 중앙 정렬을 유지합니다. -->
<div class="content-wrapper">
  <h1>카테고리: {{ page.category }}</h1>
  <hr>

  <ul class="post-list">
    {% assign category_posts = site.categories[page.category] | sort: 'date' | reverse %}
    {% for post in category_posts %}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
      </li>
    {% endfor %}
  </ul>
</div>