---
layout: default
---
<h1>카테고리: {{ page.title }}</h1>

{% if page.description %}
  <p>{{ page.description }}</p>
{% endif %}

<hr>

<ul class="post-list">
  {% assign category_posts = site.categories[page.category] | sort: 'date' | reverse %}
  {% for post in category_posts %}
    <li>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
    </li>
  {% endfor %}
</ul>